@model CSVWorker.ViewModels.IMDSMacros.IMDSBomToPorscheIMDS
@{
    ViewData["Title"] = "Update Database";
}

@* ************** Content ************** *@
<!-- Basic Layout -->
<div class="row mb-6 gy-6">
    <div class="col-xl">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">IMDS BOM To Porsche IMDS BOM</h5>
                <small class="text-body float-end">IMDS Macros</small>
            </div>
            <div class="card-body">
                <form asp-action="MultiForsBomToIMDS" method="post" enctype="multipart/form-data">
                    <div class="mb-6">
                        <label class="form-label fs-5" asp-for="IMDSFileCSV">IMDS BOM CSV</label>
                        <input asp-for="IMDSFileCSV" type="file" class="form-control" accept=".csv,text/csv" required />
                        <span asp-validation-for="IMDSFileCSV" class="text-danger"></span>
                    </div>
                    <div class="mb-6">
                        <label class="form-label fs-5" asp-for="DatabasePorscheCSV">Database Porsche CSV</label>
                        <input asp-for="DatabasePorscheCSV" type="file" class="form-control" accept=".csv,text/csv"
                               required />
                        <span asp-validation-for="DatabasePorscheCSV" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Start</button>

                    @if (!string.IsNullOrEmpty(Model?.ErrorMessage))
                    {
                        <div class="text-danger mt-3">@Model.ErrorMessage</div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

@section PageScripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}