@{
    ViewData["Title"] = "Error";
}

<div class="text-center mt-5">
    <h2 class="display-1 text-danger">An error occurred. Please contact your IT administration for help.</h2>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Return to Home</a>
</div>