@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div
        class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Home" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                @await Html.PartialAsync("../_Partials/_Brand")
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="icon-base bx bx-chevron-left d-block d-xl-none align-middle"></i>
        </a>
    </div>

    <div class="menu-divider mt-0"></div>

    <div class="menu-inner-shadow"></div>

    @* ! menu-items *@
    <ul class="menu-inner py-1">
        <!-- Part 1 -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Macros</span>
        </li>
        <!-- Part 1 sections -->
        <!-- Section 1 -->
        <li class='menu-item@(currentPage.StartsWith("/IMDSMacros") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon icon-base bx bx-folder"></i>
                <div class="text-truncate">IMDS Macros</div>
            </a>

            <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/IMDSMacros/UpdateDatabaseIMDS" ? " active" : "")'>
                    <a asp-controller="IMDSMacros" asp-action="UpdateDatabaseIMDS" class="menu-link">
                        <div class="text-truncate">Update Database IMDS</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/IMDSMacros/MultiForsBomToIMDS" ? " active" : "")'>
                    <a asp-controller="IMDSMacros" asp-action="MultiForsBomToIMDS" class="menu-link">
                        <div class="text-truncate">FORS BOM to IMDS BOM</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/IMDSMacros/UpdateDatabasePorsche" ? " active" : "")'>
                    <a asp-controller="IMDSMacros" asp-action="UpdateDatabasePorsche" class="menu-link">
                        <div class="text-truncate">Update Database Porsche</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/IMDSMacros/IMDSBomToPorscheIMDS" ? " active" : "")'>
                    <a asp-controller="IMDSMacros" asp-action="IMDSBomToPorscheIMDS" class="menu-link">
                        <div class="text-truncate">IMDS BOM to Porsche IMDS BOM</div>
                    </a>
                </li>
            </ul>
        </li>

       
        
    </ul>

</aside>
<!-- / Menu -->
